<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
 </head>

 <body style="padding-top:60px;">
   <div class="container clearfix">
     <div class="row row-offcanvas row-offcanvas-left ">
       <div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
         <div class="list-group">
           <h1> Riku <br> Kiranatama </h1>
           <img src="/assets/rossi1.jpg" class="img-circle" width="150" height="150">
         </div>
       </div>
       <div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
         <div class="panel-body">
           <form role="form" class="form-horizontal">
             <div class="form-group">
               <label for="email" class="control-label col-md-2">Email</label>
               <div class="col-md-10"><input type="email" id="email" class="form-control" placeholder="Email Anda"></div>
             </div>
             <div class="form-group">
               <label for="messages" class="control-label col-md-2">Messages</label>
               <div class="col-md-10"><textarea class="form-control" rows="15" placeholder="Messages Anda"></textarea></div>
             </div>
             <div class="col-md-offset-2"><button type="submit" class="btn btn-default">Submit</button></div>
           </form>
         </div>
       </div>
      <script src="js/jquery-1-11-1.js"></script>
      <script src="js/bootstrap.min.js"></script>
      </div>
    </div>
 </body>
</html>
