<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
 </head>

 <body style="padding-top:60px;">
   <div class="container clearfix">
     <div class="row row-offcanvas row-offcanvas-left ">
       <div class="col-xs-12 col-sm-3 side pull-left sidebar-offcanvas" id="sidebar" role="navigation">
         <div class="list-group">
           <h1> Riku <br> Kiranatama </h1>
           <img src="/assets/rossi1.jpg" class="img-circle" width="150" height="150">
         </div>
       </div>
       <div id="main-content" class="col-xs-12 col-sm-9 main pull-right">
         <div class="panel-body">
           <table  class="table table-hover table-striped display" >
              <tr>
                 <th>Nama</th>
                 <td>Riku Kiranatama</td>
               </tr>
               <tr>
                 <th>Tempat Tanggal Lahir</th>
                 <td>Bandung, 7 Oktober 1989</td>
               </tr>
               <tr>
                 <th>Jenis Kelamin</th>
                 <td>Pria</td>
               </tr>
               <tr>
                 <th>Alamat Domisili</th>
                 <td>Jl. Soekarno Hatta no. 104</td>
               </tr>
           </table>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-1-11-1.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
 </html>
